doctype html
html
  head
    title stockdata homepage
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='/css/stockdatahomepage.css')
    script(src='/js/sliderMsg.js')
    script(src='/js/loginsystem.js')
  body#hideBottomScroll
    #backgroundColorLogin
    .wrapper
      .header
        .headerContent
          .imageAlign
            img#logo(src='/images/stockdatalogoblack.png')
          #rightNav
            ul.ulSettings
              li.list
                a.linkClass(href='https://www.robinhood.com/') Developers
              li.list
                a.linkClass(href='https://www.robinhood.com/') Contact
              li.list
                a.linkClass(href='https://www.robinhood.com/') FAQ
            button.btn(type='button') SIGN IN
      p#homepageTitle Stockdata
      p#homepageBelowTitle1 From WallStreet to your Desktop
      #loginBody
        form#form(action='')
          input#fNameSettings.boxSettings(type='text', name='fname', placeholder='First')
          input#lNameSettings.boxSettings(type='text', name='lname', placeholder='Last')
          input#username.boxSettings(type='text', name='user', placeholder='User')
          input#password.boxSettings(type='password', name='password', placeholder='Password')
        button.btnLogin(type='button', onclick="window.location.href='http://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link'") SIGN UP
      #grid
        #row1
          .box1
            img.imgLogo(src='http://logo.clearbit.com/spotify.com?size=80')
          p.box1a
          .box2
            img.imgLogo(src='http://logo.clearbit.com/microsoft.com?size=80')
          p.box2a
          .box3
            img.imgLogo(src='http://logo.clearbit.com/fireeye.com?size=80')
          p.box3a
          .box4
            img.imgLogo(src='http://logo.clearbit.com/google.com?size=80')
          p.box4a
          .box5
            img.imgLogo(src='http://logo.clearbit.com/amazon.com?size=80')
          p.box5a
        #row2
          .box1
            img.imgLogo(src='http://logo.clearbit.com/baidu.com?size=80')
          p.box1a
          .box2
            img.imgLogo(src='http://logo.clearbit.com/walmart.com?size=80')
          p.box2a
          .box3
            img.imgLogo(src='http://logo.clearbit.com/twitter.com?size=80')
          p.box3a
          .box4
            img.imgLogo(src='http://logo.clearbit.com/toyota.com?size=80')
          p.box4a
          .box5
            img.imgLogo(src='http://logo.clearbit.com/mcdonalds.com?size=80')
          p.box5a
        #row3
          .box1
            img.imgLogo(src='http://logo.clearbit.com/cocacola.com?size=80')
          p.box1a
          .box2
            img.imgLogo(src='http://logo.clearbit.com/timewarnercable.com?size=80')
          p.box2a
          .box3
            img.imgLogo(src='http://logo.clearbit.com/activision.com?size=80')
          p.box3a
          .box4
            img.imgLogo(src='http://logo.clearbit.com/tencent.com?size=80')
          p.box4a
          .box5
            img.imgLogo(src='http://logo.clearbit.com/starbucks.com?size=80')
          p.box5a
        #row4
          .box1
            img.imgLogo(src='http://logo.clearbit.com/goldmansachs.com?size=80')
          p.box1a
          .box2
            img.imgLogo(src='http://logo.clearbit.com/netflix.com?size=80')
          p.box2a
          .box3
            img.imgLogo(src='http://logo.clearbit.com/fidelity.com?size=80')
          p.box3a
          .box4
            img.imgLogo(src='http://logo.clearbit.com/jpmorgan.com?size=80')
          p.box4a
          .box5
            img.imgLogo(src='http://logo.clearbit.com/facebook.com?size=80')
          p.box5a
        #row5
          .box1
            img.imgLogo(src='http://logo.clearbit.com/alibaba.com?size=80')
          p.box1a
          .box2
            img.imgLogo(src='http://logo.clearbit.com/apple.com?size=80')
          p.box2a
          .box3
            img.imgLogo(src='http://logo.clearbit.com/paloaltonetworks.com?size=80')
          p.box3a
          .box4
            img.imgLogo(src='http://logo.clearbit.com/disney.com?size=80')
          p.box4a
          .box5
            img.imgLogo(src='http://logo.clearbit.com/yahoo.com?size=80')
          p.box5a
        #row6
          .box1
            img.imgLogo(src='http://logo.clearbit.com/ford.com?size=80')
          p.box1a
          .box2
            img.imgLogo(src='http://logo.clearbit.com/energous.com?size=80')
          p.box2a
          .box3
            img.imgLogo(src='http://logo.clearbit.com/gopro.com?size=80')
          p.box3a
          .box4
            img.imgLogo(src='http://logo.clearbit.com/pandora.com?size=80')
          p.box4a
          .box5
            img.imgLogo(src='http://logo.clearbit.com/nvidia.com?size=80')
          p.box5a
      // <img src="http://logo.clearbit.com/spotify.com" />
