doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    title stockdata
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    //
      if lt IE 9
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
    link(rel='shortcut icon', href='images/myfavicon.ico')
    script(src='js/pace.js')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script.
      $(document).ready(function(){
      var from,to,subject,text;
      $("#send_email").click(function(){
      $.get("http://www.stockdata.trade/checkemaildata", function(data){
      $("#message").empty().html(data);
      });
      to=$("#to").val();
      $.get("http://www.stockdata.trade/send",{to:to,subject:subject,text:text},function(data){
      //if(data=="sent")
      //{
      //console.log("data sent")
      //$("#message").empty().html(" Email is been sent at "+to+".");
      //}
      });
      });
      });
  body
    .preloader
    main#top.masthead(role='main')
      .container
        .logo
          a(href='http://www.stockdata.trade/')
            img(src='images/logo.png', alt='logo')
        h1
          | From 
          strong WallStreet
          |  To Your 
          strong Desktop
          br
          |         Site Coming Soon
        .row
          .col-md-6.col-sm-12.col-md-offset-3.subscribe
            .form-group
              .col-md-7.col-sm-6.col-sm-offset-1.col-md-offset-0
                input#to.form-control.input-lg(type='text', placeholder='Enter E-mail ID where you want to send', required='required')
              .col-md-5.col-sm-4
                button#send_email.btn.btn-success.btn-lg GET EARLY ACCESS
              span#message.alertMsg
          a.scrollto(href='index.html#explore')
            p SCROLL DOWN TO EXPLORE
            p.scrollto--arrow
              img(src='images/scroll_down.png', alt='scroll down arrow')
    #explore.container
      .section-title
        h2 All the stock info you need, simplified.
        h4 Invest just like the Professionals.
      section.row.heroimg.breath
        .col-md-12.text-center
          img(src='images/flat-mockup-template.png', alt='flat-mockup-template')
      .section-title
        h2 Stockdata has many features built-in.
        h4 Fine tuned and customizable.
      section.row.features
        .col-sm-6.col-md-3
          .thumbnail
            img(src='images/service_01.png', alt='analytics-icon')
            .caption
              h3 News
              p We scrape thousands of articles and show you the ones that really matter.
        .col-sm-6.col-md-3
          .thumbnail
            img(src='images/service_02.png', alt='analytics-icon')
            .caption
              h3 Metrics
              p Metrics allows you to see the most important stock data and information.
        .col-sm-6.col-md-3
          .thumbnail
            img(src='images/service_03.png', alt='analytics-icon')
            .caption
              h3 Price
              p
                | With our easy to use graph, you can see the price go up and down and know why it did so.
        .col-sm-6.col-md-3
          .thumbnail
            img(src='images/service_04.png', alt='analytics-icon')
            .caption
              h3 Analytics
              p Get a thourough look at all the stock data you could possibly need.
      .section-title
        h2 Some of our featured stocks.
        h4 We provide almost every stock on the market.
      section.row.clientlogo.breath
        .col-md-12.text-center
          img(src='images/client-logos.png', alt='client-logos')
    .highlight.testimonials
      .container
        .section-title
          h2 What our CEO and Founder have to say.
        section.row.breath
          .col-md-6
            .testblock
              | “Before stockdata.trade, there really wasn't an easy way to invest. With the ability to look at the stock market through the eyes of a professional investor, anyone can invest and make money. We do the hard work for you!”
            .clientblock
              img(src='images/customer-img-1.jpg', alt='.')
              p
                strong Alex Parsons
                br
                |                 Founder of 
                a(href='http://stockdata.trade/') stockdata.trade
          .col-md-6
            .testblock
              | “Before stockdata.trade, there really wasn't an easy way to invest. With the ability to look at the stock market through the eyes of a professional investor, anyone can invest and make money. We do the hard work for you!”
            .clientblock
              img(src='images/customer-img-2.jpg', alt='.')
              p
                strong Alex Parsons
                br
                |                 CEO of 
                a(href='http://stockdata.trade/') stockdata.trade
    .container
      .section-title
        h2 Honest pricing. No surprises.
        h4 No contract. No risk. No credit card required. 
      section.row.breath.planpricing
        .col-md-4
          .pricing.color1
            .planname Personal
            .price
              span.curr $
              | 5
              span.per /MO
            .billing Billed Annually
        .col-md-4
          .pricing.color2
            .planname Agency
            .price
              span.curr $
              | 10
              span.per /MO
            .billing Billed Annually
        .col-md-4
          .pricing.color3
            .planname Enterprise
            .price
              span.curr $
              | 20
              span.per /MO
            .billing Billed Annually
      // /section planpricing
      .section-title
        h5 Frequently Asked Questions
      section.row.faq.breath
        .col-md-6
          h6 Can I still use the site if I dont want to pay?
          p
            | Absolutely! This site is completely free. The personal plan simply gives you access to our mobile application and will take away the ads from the website. This site will always be free and you will never be required to pay a penny our of your pocket
          h6 Can I cancel my plans?
          p
            | Yes you can. When the site has been launched there will be a one click cancel feature for any plans that you purchase for the site! You will be completely refunded whether you used paypal or a credit provider. Please allow
            | up to one day for the transaction to complete
        .col-md-6
          h6 When will the site be up?
          p
            | This is a very large and intuitive site for one person to make. I would estimate somewhere between 3-6 months max. If you are interested in being notified when the site is live please enter your email above.
          h6 Do I need to register my email to use the site when it comes out?
          p
            | When the site is up, it will initially be released as an alpha version. Those who are in our database will be granted early access to the site. Early access will allow your voice to be heard as we will be asking our users how we can improve the site to their needs!
    main.footercta(role='main')
      .container
        h1
          | Stockdata is the 
          strong easiest
          br
          |           way to start investing.
        .row
          .col-md-12.breath.text-center
            a.btn.btn-success.btn-lg.gototop(href='http://www.stockdata.trade/#top') GET EARLY ACCESS
    .container
      section.row.breath
        .col-md-12.footerlinks
          p © 2016 stockdata.trade All Rights Reserved
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='js/easing.js')
    script(src='js/nicescroll.js')
    script.
      $(function() {
      $('.scrollto, .gototop').bind('click',function(event){
      var $anchor = $(this);
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
      }, 1500,'easeInOutExpo');
      event.preventDefault();
      });
      });
