doctype html
html
  head
    title stockdata homepage
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='/css/stockdatahomepage.css')
    link(rel='stylesheet', type='text/css', href='/css/header.css')
    script(src='/js/sliderMsg.js')
    script(src='/js/loginsystem.js')
  body#hideBottomScroll
    #backgroundColorLogin
    .wrapper
      .header
        .headerContent
          .imageAlign
            img#logo(src='/images/stockdatalogoblack.png')
          #rightNav
            ul.ulSettings
              li.list
                a.linkClass(href='https://www.robinhood.com/') Developers
              li.list
                a.linkClass(href='https://www.robinhood.com/') Contact
              li.list
                a.linkClass(href='https://www.robinhood.com/') FAQ
            button.btn(type='button') SIGN IN
      #header
          img#button1Image(src='/images/analyticsGray.png')
          img#button2Image(src='/images/calenderGray.png')
          img#button3Image(src='/images/priceGray.png')
          img#button4Image(src='/images/commentsGray.png')
          img#button5Image(src='/images/metricsGray.png')
          img#button6Image(src='/images/newsGray.png')
          #button1.round-button
            .round-button-circle
              a.round-button(href='http://example.com')
          #button2.round-button
            .round-button-circle
              a.round-button(href='http://example.com')
          #button3.round-button
            .round-button-circle
              a.round-button(href='http://example.com')
          #button4.round-button
            .round-button-circle
              a.round-button(href='http://example.com')
          #button5.round-button
            .round-button-circle
              a.round-button(href='http://example.com')
          #button6.round-button
            .round-button-circle
              a.round-button(href='http://example.com')