#header{
	margin: 110px auto 0 auto;
	width: 696px;
	height: 50px;
}

.round-button {
	position: absolute;
	width: 60px;
}

.round-button a {
	cursor: pointer;
    display: inline-block;
	width:60px;
	padding-top:36px;
    padding-bottom:40%;
    
	border-radius: 50%;
	border:5px solid #b4b4b4;
	-webkit-transition: border-color .4s linear;
	-moz-transition: border-color .4s linear;
	-o-transition: border-color .4s linear;
	transition: border-color .4s linear;
}

.round-button a:hover {
	border:5px solid #2dcc70;
}

#button1{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#button2{
	margin: 0 0 0 125px;
}

#button3{
	margin: 0 0 0 250px;
}

#button4{
	margin: 0 0 0 375px;
}

#button5{
	margin: 0 0 0 500px;
}

#button6{
	margin: 0 0 0 625px;
}

#button1Image{
	margin-top: 22px;
	margin-left: 13px;
	position: absolute;
	width: 45px;
	height: 25px;
}

#button2Image{
	margin-top: 18px;
	margin-left: 144px;
	position: absolute;
	width: 30px;
	height: 35px;
}

#button3Image{
	margin-top: 19px;
	margin-left: 274px;
	position: absolute;
	width: 21px;
	height: 34px;
}

#button4Image{
	margin-top: 21px;
	margin-left: 396px;
	position: absolute;
	width: 29px;
	height: 34px;
}

#button5Image{
	margin-top: 20px;
	margin-left: 521px;
	position: absolute;
	width: 27px;
	height: 32px;
}

#button6Image{
	margin-top: 20px;
	margin-left: 642px;
	position: absolute;
	width: 35px;
	height: 32px;
}