@font-face {
    font-family:'DINWeb';
    src: url("../font/DINWeb.woff")
}

@font-face {
    font-family:'DINWebLight';
    src: url("../font/Lato-Thin.ttf")
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}

#middle {
	position: absolute;
	top: 960px;
	left: 0;
	right: 0;
  	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #32e17c;
}

#bottom {
	position: absolute;
	top: 1920px;
	left: 0;
	right: 0;
  	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}

#hideBottomScroll {
	font-family:'DINWeb';
	overflow-y: scroll;
	overflow-x: hidden;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 1080px;
	height: 100vh;
	margin: 0 auto;
}

.positionRelative {
	position: absolute;
	margin: 0 0 0 0;
}

#header {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	width: 100vw;
	background-color: rgba(255, 255, 255, .5);
	z-index: 2;
}

.headerContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 1080px;
	height: 100px;
	margin: 0 auto;
	z-index: 3;
}

#headerAppear {
	visibility: visible;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0px;
	width: 100vw;
	background-color: rgba(255, 255, 255, .8);
	z-index: 1;
}

#logo {
	display: inline-block;
	width: 150px;
	height: 23px;
}

#logoAppear {
	position: absolute;
	width: 150px;
	height: 23px;
	top: 0px;
	visibility: hidden;
}

#rightNav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 0 0 200px;
	height: 100px;
	list-style-type: none;
}

#rightNavAppear {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 0 0 200px;
	height: 100px;
	list-style-type: none;
	visibility: hidden;
}

.list {
	display: inline;
	padding: 40px;
}

.ulSettings {
	text-decoration: none;
	margin: 0 0 0 230px;
	padding: 0;
	position: relative;
    margin: 40px 0 0 300px;
}

.ulSettingsAppear {
	text-decoration: none;
	margin: 0 0 0 230px;
	padding: 0;
	position: relative;
    margin: -15px 0 0 300px;
    visibility: hidden;
}

.imageAlign {
	position: absolute;
    margin-top: 32px;
}

.imageAlignAppear {
	position: absolute;
    margin: 0;
}

.linkClass {
	text-decoration: none;
	color: #2dcc70;
	-o-transition:.25s;
  	-ms-transition:.25s;
  	-moz-transition:.25s;
  	-webkit-transition:.25s;
}

.linkClass:hover {
  color: #000;
  text-decoration: none;
}

.btn {
  position: absolute;
  top: 0;
  margin: 27px 0 0 800px;
  cursor: pointer;
  border-radius: 7px;
  border-color: rgba(255, 255, 255, 0);
  font-family: DINWeb;
  color: #ffffff;
  font-size: 14px;
  padding: 11px 9px 9px 9px;
  background: #2dcc6f;
  text-decoration: none;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
}

.btn:hover {
  background: #2ac06b;
  text-decoration: none;
}

.btnAppear {
  position: absolute;
  top: 0;
  margin: -27px 0 0 800px;
  cursor: pointer;
  border-radius: 7px;
  border-color: rgba(255, 255, 255, 0);
  font-family: DINWeb;
  color: #ffffff;
  font-size: 14px;
  padding: 11px 9px 9px 9px;
  background: #2dcc6f;
  text-decoration: none;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  visibility: hidden;
}

.btnAppear:hover {
  background: #2ac06b;
  text-decoration: none;
}

#title {
	position: relative;
	margin: 275px 0 0 15px;
	font-size: 40px;
}

#paragraph {
	font-family: 'DINWebLight';
	position: absolute;
	margin: 30px 0 0 15px;
	font-size: 30px;
	color: #000;
}

br {
   line-height: 175%;
}

.iphoneWhite {
	position: absolute;
	margin: 200px 0 0 750px;
}

.btnToSite {
  position: absolute;
  top: 0;
  margin: 540px 0 0 15px;
  cursor: pointer;
  border-radius: 7px;
  border-color: rgba(255, 255, 255, 0);
  font-family: DINWeb;
  color: #ffffff;
  font-size: 14px;
  padding: 11px 9px 9px 9px;
  background: #2dcc6f;
  text-decoration: none;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
}

.btnToSite:hover {
  background: #2ac06b;
  text-decoration: none;
}

.sliderMsg {
	background-color: #000;
	position: absolute;
	width: 175px;
	height: 50px;
}